.idea
.tscache
coverage.html
node_modules
nschema.iml
generated/test1/obj
generated/test1/packages
generated/test1/schema
generated/test1/test1.userprefs
generated/typescriptClient/schema
generated/test1/bin
*.v11.suo
/npm-debug.log
